# Secrets
\.env

# Python
__pycache__/
*.pyc
\.venv

# IDE / Editor
\.zed/
\.vscode/

# coding agent
\.opencode/


# Project local overrides (not versioned)
config/*.yaml
!config/*.example.yaml
!config/llm_base_prompt.yaml

# Logs
logs/
